<%= div_for comment do %>
	<h3>
	
		<%=comment.name %> &lt; <%= comment.email %> &gt; said: </h3><br/>
			<%=comment.body%><br/>
			<% if @article.owned_by? current_user %>
		<span class='actions'>
			<%= link_to 'Delete',[@article,comment], :confirm =>'are you sure', :method => :delete, :remote => true %>
		</span>
	<%end%>

<%end%>